<!-- ejs file for header -->
<%- include('./partials/header.ejs')%>


<!-- picture from: https://shoutoutdfw.com/meet-brittanie-mcgee-professional-dog-trainer/ -->
<div id="container2">
	<h2>Sign Up Here!</h2>
	 <img src="file:///C|/Users/taylor pc/pets-r-us/public/images/megantrainer.jpg" alt="trainer" width="550" height="500">
<div class="card">
    <div class="card-content">
        <div class="form">
            <form action="/register" method="post">
                <div class="form-field">
                  <label for="username">Username</label><br />
                   <input class="input" type="text" name="username" id="username" required autofocus>
                </div>

                <div class="form-field">
                 <label for="password">Password</label><br />
                  <input class="input" type="password" name="password" id="password" required>
                </div>

                <div class="form-field">
                    <label for="email">Email</label><br />
                    <input class="input" type="email" name="email" id="email">
                </div>
				<div class="form-field">
                    <label for="phone">Enter a phone number:</label><br><br>
  <input type="tel" id="phone" name="phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br><br>
  <small>Format: 123-456-7890</small><br><br>
                </div>

                <div class="form-field">
                    <input type="submit" value="Sign up" class="btn btn-primary full-width">
                </div>
            </form>
        </div>
    </div>
</div>
<h3 class="title">Active User List</h3>

    <hr>

<div class="card">
    <div class="card-content" style="margin: 30px;">
         <table class="table table-bordered">
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
            <tbody>
                
            <tr>
                <td>
                    petowner1
                </td>
                <td>
                    petowner1@mymail.com
                </td>
            </tr>
            </tbody>
                
            <tr>
                <td>
                    petowner2
                </td>
                <td>
                   petowner2@mymail.com
                </td>
            </tr>
            </tbody>
                
            <tr>
                <td>
                    petowner3
                </td>
                <td>
                    petowner3@mymail.com
                </td>
            </tr>
            </tbody>
                
            <tr>
                <td>
                    petowner4
                </td>
                <td>
                petowner4@mymail.com
                </td>
                </tr>
               </tbody>
                
                <tr>
                <td>
                petowner5
                </td>
                <td>
                petowner5@mymail.com
                </td>
                </tr>
                </tbody>
                
                <tr>
                <td>
                petowner6
                </td>
                <td>
                petowner6@mymail.com
                </td>
                </tr>
                </tbody>
                
                <tr>
                <td>
                petowner7
                </td>
                <td>
                petowner7@mymail.com   
                </td>
                </tr>
                </tbody>
                
                <tr>
                <td>
                petowner8
                </td>
                <td>
                petowner8@mymail.com
                </td>
                </tr>
                </tbody>
                
                <tr>
                <td>
                petowner9
                </td>
                <td>
                petowner9@mymail.com
                </td>
                </tr>
                </tbody>
             </table>
           </div>
         </div>
       </div>
   <!-- ejs file for footer -->
<%- include('./partials/footer.ejs')%>
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
