<!-- views/header.ejs -->
    <ul id="nav">
     <li><a href="pets-r-us/home.html">Home</a></li>
      <li><a href="boarding.html">Boarding</a></li>
      <li><a href="grooming.html">Grooming</a></li>
      <li><a href="training.html">Training</a></li>
      <li><a href="myaccount.html">My Account</a></li>
    </ul>
 


