@charset "utf-8";
/* CSS Document */
#nav {
display: inline;
width: 100%;
height: 100px;
float: left;
font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
text-align: center;
text-decoration: none;
padding: 12px 5px;
background-color: #ff99ff;
border-bottom: 2px solid #B5F3FB;
border-top: 2px solid #B5F3FB; }

